$white: #fff;
$black: #000;
$color-primary: #5FB4A2;
$color-secondary: #203A4C;
$color-tertiary: #33323D;
$color-light-gray: #FAFAFA;
$color-medium-gray: #EAEAEB;
$color-error-red: #F43030;
$color-base: $color-tertiary;
$trans-duration: 0.3s;
$trans-ease: ease-in;
$trans: all $trans-duration $trans-ease;

.button {
    //@include resetBtn;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: $trans;
    padding: 17px 32px;
    background: $color-secondary;
    color: $white;
    text-transform: uppercase;
    min-width: 200px;

    span {
        color: $white;
    }
    &:hover, &:focus {
        background: $color-primary;
    }
    &[disabled]
    {
        cursor: initial;
        background: $color-medium-gray;
        outline: 1px solid $color-medium-gray;
    }
} 

.button--black {
    background: transparent;
    color: $color-base;
    outline: 1px solid $color-base;
    &:hover, &:focus {
        background: $color-base;
        color: $white;
    }
    &[disabled]
    {
        background: transparent;
        outline: 1px solid $color-medium-gray;
    }
}
.button--icon { 
    position: relative;
    padding-left: 80px;
    .button__svg {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }

    .button__text { 
    }
}
